.App{
  width: 100%;
  padding: 0px 110px 30px 110px;
  font-size: 15px;
  background: #1f1c1c;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  h1{
    padding: 20px;
    font-size: 70px;
    text-align: center;
    text-transform: uppercase;
  }
  thead{
    font-size: 21px;
  }
  tr{
    color: #fff;
  }
  .btn-td{

    width: 70px;
  }

}
